/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: mediumslateblue;
  color: black;
  font-size: 20px;
  font-family: 'Times New Roman';
  line-height: 1.5;
  max-width: 4000px;
  max-height: 1800px;
}

.info {
  vertical-align: text-top;
  width: 700px;
}

.text-frag {
  display: inline-block;
  margin-right: 3ch;
  margin-bottom: 2ch;
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
color: beige;
text-decoration: none;
display: inline-block;
}

a:active { color: white;}
a:hover { color: white;}



.button3 {
  display: inline-block;
  float: left;
  text-align: center;
  border-top: dotted 1px black;
	border-radius: 50px;
  padding-top: 30px;
	width: 240px;
	height: 100px;
  font-stretch: normal;
  line-height: 20px;
}

.button4 {
  display: inline-block;
  float: left;
  text-align: center;
  border-top: dotted 1px black;
	border-radius: 50px;
  padding-top: 30px;
	width: 320px;
	height: 100px;
  font-stretch: normal;
  line-height: 20px;
}
